.topbar {
    background-color: #fcfcfc;
    border-bottom: 1px solid #efefef;
    padding: 15px;
    width: calc(100% - 250px);
    position: fixed;
    right: 250px;
    z-index: 999;

    .topbar-menu{
        a{
            color: #3f3e3e;
            text-decoration: none;
            margin: 0 10px;
        }
    }
}

